@font-face {
  font-family: Yandex-Sans;
  src: local("Yandex-Sans"),
       local("Yandex-Sans"),
       url(yndx-sans.ttf);
  font-weight: bold;
}

body {
    font-size: 0.9em;
    /*padding: 20px 55px;*/
	margin: 0;
	font-family: "Yandex-Sans";
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: black;
} 
#grid{
	padding: 1px 55px;
}
.form-row {
	margin: 10px 0;
}
.form-row-title {
	margin-top: 30px;
}
.checkbox{
	display: none;
}
.checkbox-custom{
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 3px;
	position: relative;
}
.checkbox:checked + .checkbox-custom::before{
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #ffdb4d; /*413548*/
	border-radius: 2px;
}
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: calc(100%/3); }


button {
  border-top: 0;
  cursor: pointer;
}

.button{
 /*display: block;*/
 border:1px solid #bfbfbf;
 color: #000000;
 margin: 10px 0 0 0;
 border-radius: 5px 5px 5px 5px;
 -webkit-border-radius: 5px 5px 5px 5px;
 -moz-border-radius: 5px 5px 5px 5px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 40px;
 box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 -moz-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 -webkit-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
 text-shadow: 0 1px 0 #fff;
 /*background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);*/
 background-color: #f2f2f2;
 margin-left: 50px;
 margin-bottom: 20px;
}
.button:hover, .button:active{
 border:1px solid #8c8c8c;
 color: #000000;
 box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -moz-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 -webkit-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
 background-color: #ffed7d;
}

#restart-page {
  display: inline-block;
}

.navbar {
    position: relative;
    min-height: 30px;
    border: 1px solid transparent;
    background: #F6F5F3;
}

.navbar-logo {
    content: "";
    display: inline-block;
    width: 140px;
    height: 44px;
	padding: 0 5px 0 5px;
    display: table-cell;
  	vertical-align: middle;
  	text-align: center;
    background: #ffdb4d;
    font-size: 24px;
	font-weight: bold;
}

.navbar-logo::after{
	content: '';
    position: absolute;
	top:0; /* Абсолютное позиционирование */
    left: 150px; /*bottom: -20px; /* Положение треугольника */
    border: 22px solid transparent;
	border-left: 15px solid #ffdb4d;
}

.navbar-logo-android {
    content: "";
    display: inline-block;
    width: 140px;
    height: 44px;
	padding: 0 5px 0 5px;
    display: table-cell;
  	vertical-align: middle;
  	text-align: center;
    background: #97d17d; 
    font-size: 24px;
	font-weight: bold;
}

.navbar-logo-android::after{
	content: '';
    position: absolute;
	top:0; /* Абсолютное позиционирование*/
    left: 300px; /*bottom: -20px; /* Положение треугольника */
    border: 22px solid transparent;
	border-left: 15px solid #97d17d;
}

.navbar-logo-ios {
    content: "";
    display: inline-block;
    width: 140px;
    height: 44px;
	padding: 0 5px 0 5px;
    display: table-cell;
  	vertical-align: middle;
  	text-align: center;
    background: #75c4e6; 
    font-size: 24px;
	font-weight: bold;
}

.navbar-logo-ios::after{
	content: '';
    position: absolute;
	top:0; /* Абсолютное позиционирование  97d17d 75c4e6*/
    left: 450px; /*bottom: -20px; /* Положение треугольника */
    border: 22px solid transparent;
	border-left: 15px solid #75c4e6;
}

.navbar-logo-devices {
    content: "";
    display: inline-block;
    width: 140px;
    height: 44px;
	padding: 0 5px 0 5px;
    display: table-cell;
  	vertical-align: middle;
  	text-align: center;
    background: #42aaff; 
    font-size: 24px;
	font-weight: bold;
}

.navbar-logo-devices::after{
	content: '';
    position: absolute;
	top:0; /* Абсолютное позиционирование  97d17d 75c4e6*/
    left: 300px; /*bottom: -20px; /* Положение треугольника */
    border: 22px solid transparent;
	border-left: 15px solid #42aaff;
}

.footer{
	margin: 10px;
	margin-left: 0;
	margin-right: 0;
	position: unset;
    background: #F6F5F3;
	width: 100%;
    height: auto;
    display: inline-block;
}

.footer-text{
	padding: 5px;
	padding-left: 25px;
	background: #E6E5E3;
	vertical-align: middle;
  	text-align: left;
}

.values{
    clear: left;
    min-height: 50px;
	padding: 5px;
	padding-left: 25px;
}

strong{
	font-family: Arial, Courier, monospace;
}
